@page
@model WalkingDinner.Pages.Setup.AwaitEmailModel
@{
    ViewData["Title"] = "AwaitEmail";
}

<h1>Er is een email naar het opgegeven adres gestuurd. Volg de link in de email om verder te gaan.</h1>

